alembic
aniso8601
blinker
cffi
click
cryptography
Flask
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
importlib_metadata
importlib_resources
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python
pycparser
PyMySQL
python-dotenv
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
zipp