<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <!-- ヘッダーロゴ -->
      <div class="logo">ハンバーガーメニュー</div>
  
      <!-- ハンバーガーメニュー部分 -->
      <div class="nav">
  
        <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
        <input id="drawer_input" class="drawer_hidden" type="checkbox" aria-labelledby="menu_label">
  
        <!-- ハンバーガーアイコン -->
        <label for="drawer_input" id="menu_label" class="drawer_open">
          <span>Menu</span>
        </label>
  
        <!-- メニュー -->
        <nav class="nav_content">
          <ul class="nav_list">
            <li class="nav_item"><a href="#">メニュー1</a></li>
            <li class="nav_item"><a href="#">メニュー2</a></li>
            <li class="nav_item"><a href="#">メニュー3</a></li>
          </ul>
        </nav>
  
      </div>
    </header>
  </body>
  
</html>