.place {
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  h3 {
    font-size: 28px;
  }
}
.place_inner {
  padding: 2rem 1rem 2rem 1rem;
}
.place_point {
  .place_point__points {
    padding: 10px;
    border: 2px solid #62e3ff;
    border-radius: 22px;
  }
}
.place_review {
  .place_review__card {
    border: 1px solid;
    border-radius: 22px;
    padding: 25px;
    h4 {
      margin-left: 20%;
    }
  }
}
